<mat-form-field appearance="fill">
    <mat-label>Money paid from : </mat-label>
    <mat-select>
      <mat-option *ngFor="let participant of participants" [value]="participant">
        {{participant.name}}
      </mat-option>
    </mat-select>
</mat-form-field>

<br>

<label for="participant-selection-section">Money Paid For :</label>
<section class="participant-selection-section">
    <span class="example-list-section">
      <mat-checkbox class="select-all-participants"
                    [checked]="allComplete"
                    (change)="setAll($event.checked)">
        Select All
      </mat-checkbox>
    </span>
    <span class="participant-list">
      <ul>
        <li *ngFor="let participant of participants">
          <mat-checkbox [(ngModel)]="participant.selected"
                        (change)="valueChange(participant.name,$event)">
            {{participant.name}}
          </mat-checkbox>
        </li>
      </ul>
    </span>
</section>

<mat-form-field appearance="fill">
    <mat-label class="full-width">Amount</mat-label>
    <input matInput placeholder="Description for transaction">
</mat-form-field>
<br>

<mat-form-field appearance="fill">
  <mat-label class="full-width">Description</mat-label>
  <input matInput placeholder="Transaction Description">
</mat-form-field>
<br>


<button mat-raised-button color="primary" style="float: right;">Add</button>