.mat-form-field + .mat-form-field {
    margin-left: 8px;
}

.mat-expansion-panel {
    background-color: rgb(207, 207, 207);
    color: rgb(177, 138, 81);
}

.yellow {
    color: rgb(177, 138, 81);
}

.pitch-black {
    background-color: black;
}

.seperate {
    margin: 5px;
}

.eventCard {
    margin: 3%;
    padding: 1%;
    width: 350px;
    height: 400px;
    box-shadow: 3px 4px 8px 2px rgb(177, 138, 81);
    border-radius: 5%;
    background-color: rgb(31, 31, 31);
}

div.inline { 
    float:left; 
}

.cardHeader {
    text-align: center;
    text-transform: uppercase;
}

hr.hrEle {
    border-bottom: 1px solid rgb(177, 138, 81);
}

.participant {
    height: 30%;
    width: 100%;
    overflow: auto;
}

.description {
    overflow: auto;
}
