<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false" class="pitch-black seperate">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="yellow">{{eventName}}</span>
      </mat-panel-title>
      <mat-panel-description class="yellow">
        
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Participants : </p>
    <div *ngFor="let participant of participants">
      <app-participant [participantName]="participant.username" [participantId]="participant.id"></app-participant>
    </div>
    <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon" (click)="addParticipantToEvent()">
      <mat-icon>+</mat-icon>
    </button>
    <p>Transactions : </p>
    
    <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon" (click)="addTransaction()">
      <mat-icon>+</mat-icon>
    </button>
    <button>Calculate</button>
  </mat-expansion-panel>
  
</mat-accordion>
