<div class="eventCard inline">
  <div class="cardHeader">{{eventName}}</div>
  <hr class="hrEle">
  <div class="participant">
    <span *ngFor="let participant of participants">
      <app-participant [participantName]="participant.username" [participantId]="participant.id"></app-participant>
    </span>
    <br>
    <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon" (click)="addParticipantToEvent()" style="margin: 5px;">
      <mat-icon>+</mat-icon>
    </button>
  </div>
  <div (click)="transactionDetails()">
      
      <div class = "description">
        The mission is timed for launch when Earth and Mars are in good positions relative to each other for landing on Mars. That is, it takes less power to travel to Mars at this time, compared to other times when Earth and Mars are in different positions in their orbits. As Earth and Mars orbit the Sun at different speeds and distances, once about every 26 months, they are aligned in a way that allows the most energy-efficient trip to Mars.
      </div>
  </div>
  
  
</div>


<!--
<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false" class="pitch-black seperate">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="yellow">{{eventName}}</span>
      </mat-panel-title>
      <mat-panel-description class="yellow">
        
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Participants : </p>
    <div *ngFor="let participant of participants">
      <app-participant [participantName]="participant.username" [participantId]="participant.id"></app-participant>
    </div>
    <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon" (click)="addParticipantToEvent()">
      <mat-icon>+</mat-icon>
    </button>
    <p>Transactions : </p>
    <div *ngFor="let transaction of transactions">
      <app-transaction 
        [amount]="transaction.Amount" 
        [transactionId]="transaction.TxnID" 
        [paidByUserName]="transaction.paidByUserName" 
        [transactionTime]="transaction.TxnTime"
        [sharedByUserNames]="transaction.sharedByUserNames"
        [eventName]="eventName">
      </app-transaction>
    </div>
    <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon" (click)="addTransaction()">
      <mat-icon>+</mat-icon>
    </button>
    <button mat-button (click)="calculate()" style="float: right;">Calculate</button>
  </mat-expansion-panel>
  
</mat-accordion>
-->
