.txnDetails {
    overflow: scroll;
    height: 60vh;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  .tbl {
    width: 100%;
}

tr:nth-child(even){background-color: #dadada;}

tr:hover {background-color: #ddd;}

th {
    padding: 0.5%;    
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

.circularRedButton {
  background-color: rgb(215, 109, 109); 
  border-radius: 15px;
  border-width: 0px;
  margin-left: 5px;
  justify-content: center;
}

.loader {
  color: gray;
}