.auth {
    position: relative;
    justify-content: center;
    display: flex;
    text-align: center;
    background-color: white;
}

.parentCardDiv {
    margin-top: 20vh;
    display: flex;
    justify-content: center;
}